*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: clamp(40%, 1% + 2vh, 62.5%);
}

body{

    width: 100vw;
    height: 100vh;

    font-size: 1.6rem;
    background-image: url('./assets/mountains-universe-1.png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    overflow: hidden;

    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    gap: 3.2rem;

    margin-left: 7.2rem;
    margin-top: 4rem;

    align-items: center;
}

nav{
    display: flex;
    gap: 5rem;
}

a{
    color: #fff;

    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.1rem;

    text-decoration: none;
}

a.active{
    font-weight: 700;
}

.home{
    margin-top: 17.2rem;
    text-align: center;
}

.home h1{

    color: white;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 125%;

    margin-bottom: 2.4rem;
}

.home button{
    background: transparent;

    border-radius: .5rem;
    border: .2rem solid #FFF;

    color: white;

    padding: 1.2rem 3.2rem;

    width: 21.1rem;
    height: 4.8rem;

    justify-self: center;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    
    cursor: pointer;
}

.about{
    height: 100vh;
    color: white;
    
    margin-left: 10.2rem;

}

.about h2{
    font-family: 'Roboto', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 125%;

    margin-top: 11.3rem;
    margin-bottom: 1.6rem;
}

.about p{
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 160%;
    text-align: justify;

    width: 64.8rem;
    height: 20.3rem;

}
